// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-login {
  font-size: 1em;
  padding-left: .5em;
  padding-right: .5em;
  background-color: rgba(0, 130, 29, .7);
  color: white;
  font-weight: 700;
  margin-left: auto;
  text-align: center;

  a{
    color: white
  }
}
